absl-py
appnope
asttokens
backcall
black
cachetools
catboost
certifi
charset-normalizer
click
contourpy
cycler
debugpy
decorator
entrypoints
et-xmlfile
executing
fonttools
google-auth
google-auth-oauthlib
graphviz
grpcio
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lightgbm
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
oauthlib
openpyxl
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sklearn
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tomli
tornado
traitlets
urllib3
wcwidth
Werkzeug
xgboost
